* {
    box-sizing: border-box;
    /* border: solid 1px red; */
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    background-color: #FAFAF8;
    --site-margins: 3.5rem 5rem;
    --container-width: 37em;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    height: 5em;
    gap: 10px;
    

}

header > img{
    width: 2em;
}

header > span{
    line-height: 60px;
    font-weight:500;
    font-size: 1.5em;
}

main{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: var(--container-width);
    margin: var(--site-margins);
}

.add-ingredient-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 2.5em;
    width: 100%;
    
    

}

.add-ingredient-form > input{
    background-color: white;
    border-radius: 5px;
    border: solid 1px rgba(211, 211, 211, 0.932);
    height: 100%;
    width: 25rem;
    padding: 0px 10px;
    flex-grow: 1;
    font-size: 1em;

}

.add-ingredient-form > input::placeholder{
    font-size: 1em;
}

.add-ingredient-form > input:focus{
    border: solid 1px rgba(109, 108, 108, 0.433);
    outline: none;
    
}

.add-ingredient-form > button{
    height: 100%;
    width: 10rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

.add-ingredient-form > button:hover{
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.245), 0px 1px 
}

#ing-amount{
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
}

.ingredients-container{
    margin: 3.5em 0rem 0rem 0rem;
    font-size: 1em;
    width: 100%;
}

.ingredients-container >ul> li{
    padding-bottom: 1.3em;
}

.get-recipe-container{
    display: flex;
    gap: 2em;
    font-size: 1em;
    background-color: #F0EFEB;
    padding: 1.5em 0em 1.5em 1.5em;
    margin: 3.5em 0rem 0rem 0rem;
}

.get-recipe-text{
    width: 25em;
    align-items: center;
}

.get-recipe-text > h3{
    margin: 0 0 1em 0;

}



.get-recipe-container > button{
    background-color: #D17557;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    border: none;
    align-self: center;
    width: 7em;
    height: 2.5em; 

}

.get-recipe-container > button:hover{
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.245), 0px 1px 
}

.suggested-recipe-container {
    padding-top: 3em;
    color: black;
    line-height: 1.9em;
    font-size: 1.125em;
    font-weight: 400;
}